body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url("img/13554.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right;
}
.logo img{
    height: 90px;
    width: 180px; 
}
.logo {
    display: flex;
    justify-content: center;
}
form {
    padding: 0 100px;
    padding-bottom: 20px;
}
form h3 {
    text-align: center;
    margin-bottom: 20px;
}
form h6 {
    text-align: center;
    margin-bottom: 20px;
}
form img {
    height: 50px;
    width: 50px;
    margin:5px;
}
.social {
    display: flex;
    justify-content: center;
}
.form-links a {
    text-decoration: none;
    color:darkblue;
} 
.form-links a:hover {
    text-decoration:underline;
    color:blue;
} 
.form-control {
    border-radius: 0;
}
.app-stores {
    display: flex;
    justify-content: center;
}
.app-container {
    position: relative;
}
.ios-app-store img{
    height: 60px;
    width: 175px;
    margin-right: 10px;
}
.google-app-store img{
    height: 60px;
    width: 175px;
}